@import "./_normalize.css";

* {
  box-sizing: border-box;
}

html {
  word-break: break-word;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
  text-align: center;
}

.fake-link {
  cursor: pointer;
  font-weight: bold;
}

.fake-link:hover {
  text-decoration: underline;
}

#header {
  background: #cee3f8;
  border-bottom: 1px solid #c9b2d9;
}

.top-menu {
  background: #f0f0f0;
  border-bottom: 1px solid gray;
  font-size: 0.65rem;
  padding: 3px;
  text-transform: uppercase;
}
/* Main header splits into 3 columns */
/* TODO Make it responsive */
.main-header {
  display: grid;
  grid-template-columns: 150px 1fr 300px;
}

.logo img {
  width: 120px;
}

/*
TODO Fix the top menu alignments etc
*/

.main-header {
  position: relative;
}

#header-img.default-header {
  text-indent: -9999px;
  background-image: url("../img/logo.png");
  /* background-position: 0px -1323px; */
  background-repeat: no-repeat;
  background-size: contain;
  height: 60px;
  width: 100%;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 3px;
}

#header-img {
  margin-top: 2px;
  margin-right: 5px;
}

.tab-menu {
  display: inline-block;
  vertical-align: bottom;
}

.user-header {
  font-size: small;
  width: 310px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: #eff7ff;
  padding: 4px;
  line-height: 12px;
  border-top-left-radius: 7px;
}

.user-header a {
  text-decoration: none;
}

/* User Page  */
.user-area {
  padding: 0 25px;
  border: 1px dashed gray;
  border-radius: 5px;
  margin-bottom: 25px;
}

.admin-actions {
  padding-bottom: 25px;
}

/* ToDo Item */

/* Container to hold posts and sidebar */
/* TODO make this responsive */
#container {
  margin-top: 7px;
  margin-left: 5px;
  margin-right: 5px;
  display: grid;
  grid-template-columns: 1fr 300px;
}

#body-submissions {
  border-top: 2px solid #dddddd;
  margin-right: 5px;
  padding: 5px;
}

/* User post main meat of the app  */
/* TODO Make this responsive */

.pagination {
  margin: 25px 0;
}

.load-more {
  padding: 1px 4px;
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-weight: bold;
  color: #369;
  cursor: pointer;
}

.load-more.red {
  color: darkred;
}

.load-more:disabled {
  color: slategray;
}

.post {
  display: grid;
  grid-template-columns: 20px 36px 70px 1fr;
  grid-gap: 7px;
  margin-bottom: 10px;
}

.post-text {
  border: 1px dashed gray;
  border-radius: 5px;
  padding: 10px;
}

/* Votes  */

.votes {
  text-align: center;
  color: #cccccc;
  line-height: 1.2rem;
}

.upvote,
.votecount,
.downvote {
}

.upvote,
.downvote {
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

.votecount {
  font-size: 1.2rem;
}

.rank {
  float: left;
  margin-top: 15px;
  color: #c6c6c6;
  font-family: arial;
  font-size: medium;
  text-align: right;
}

.arrow {
  margin: 2px 0px 0px 0px;
  width: 100%;
  height: 14px;
  display: block;
  cursor: pointer;
  background-position: center center;
  background-repeat: no-repeat;
  width: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
}

.arrow.up {
  background-image: url("../img/sprite.png");
  background-position: 0px -1676px;
  background-repeat: no-repeat;
}

.arrow.down {
  background-image: url("../img/sprite.png");
  background-position: -86px -1654px;
  background-repeat: no-repeat;
}

.arrow.upvoted {
  background-image: url("../img/sprite.png");
  background-position: -21px -1676px;
  background-repeat: no-repeat;
}
.arrow.downvoted {
  background-image: url("../img/sprite.png");
  background-position: -107px -1654px;
  background-repeat: no-repeat;
}

.score {
  text-align: center;
  color: #c6c6c6;
  font-weight: bold;
  font-size: small;
}

.thumbnail {
  float: left;
  font-size: 0;
  margin-bottom: 2px;
  margin-right: 5px;
  margin-top: 0;
  margin-left: 0;
  overflow: hidden;
  width: 70px;
}

.thumbnail.self {
  background-image: url("../img/sprite.png");
  background-position: 0px -1267px;
  background-repeat: no-repeat;
  height: 50px;
}

.title-area {
}

.title {
  font-size: large;
}

.title a {
  text-decoration: none;
}

.url,
.meta-area,
.link-area {
  font-size: small;
  color: #888888;
}

.meta-area a {
  color: gray;
  text-decoration: none;
  border-bottom: 1px dotted gray;
}

.title-area,
.meta-area,
.link-area {
  margin-bottom: 5px;
}

/* Submit page  */

.submit-form {
  width: 500px;
}

.input-box {
  width: 500px;
  background-color: #cee3f8;
  border-radius: 4px;
  padding: 5px 10px 10px 10px;
  font-size: large;
  margin-bottom: 20px;
}

.submit-form label {
  display: block;
}

.submit-form input,
.submit-form textarea {
  min-width: 100%;
}

.comments h3 {
  font-weight: normal;
  border-bottom: 1px dotted #000;
}

.comments a {
  text-decoration: none;
}

.comment-author a {
  text-decoration: none;
  color: gray;
  border-bottom: 1px dotted gray;
}

.comments button {
  font-size: small;
}

.comment-form textarea {
  display: block;
  width: 500px;
  margin-bottom: 10px;
}

.single-comment {
  margin: 7px;
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-gap: 10px;
}

.comment-author {
  font-size: small;
  font-weight: bold;
  color: #666666;
}

.comment-body {
  margin-bottom: 7px;
}

.comment-meta {
  font-size: small;
}

/* Sidebar  */

.search {
  width: 100%;
  border: 1px solid #666;
  font-size: 0.9rem;
  padding: 5px 10px;
}

.login-box {
  padding: 7px;
  border: 1px solid #666;
  margin: 10px 0;
}

.login-box input {
  display: inline;
  width: 49%;
  font-size: 0.9rem;
  padding: 3px;
}

.reg-error {
  background: #f3efdf;
  /* background: #faffbd; */
  padding: 10px;
  margin-bottom: 10px;
  color: #800000;
}

.login-error {
  background: #f3efdf;
  padding: 7px;
  font-size: small;
  margin-bottom: 7px;
  color: #800000;
}

.close-button {
  float: right;
  color: #000;
  cursor: pointer;
}

.login-username {
  margin-right: 0;
}

.login-password {
  float: right;
}

.login-button-area {
  margin: 7px 0;
  text-align: right;
  font-size: small;
}

.login-reset-link {
  text-decoration: none;
  margin-right: 10px;
}

/* Post submit button style from reddit */

.submit-button {
  display: block;
  text-align: center;
  position: relative;
  border: 1px solid #c4dbf1;
  background: #ffffff none repeat-x scroll center left;
  background-image: url("../img/sprite.png");
  background-position: 0px -278px;
  background-repeat: repeat;
  font-size: 150%;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 29px;
  height: 29px;
  margin-top: 10px;
}

.submit-button a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #369;
  text-decoration: none;
}

/* Registration page  */

.reg-form {
  width: 500px;
  padding: 60px;
  max-width: 100%;
}

.modal-title {
  color: #4270a2;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 25px;
}

.reg-form input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 7px 10px;
}

.register-button-box {
  margin-top: 40px;
  text-align: right;
}

.button-primary {
  background-color: #4f86b5;
  border-bottom: 2px solid #4270a2;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 4px 12px 3px;
  font-size: 12px;
  line-height: 20px;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Ad and hooks  */
.banner {
}

.padding {
  padding: 10px;
}

.top-banner {
  /* text-align: center; */
}

.banner img {
  max-width: 100%;
}

.banner-form {
  width: 500px;
  max-width: 100%;
}

.sidebar-ad {
  margin-top: 10px;
}

@media only screen and (max-width: 800px) {
  #container {
    margin: 0;
    display: grid;
    grid-template-columns: auto;
  }

  #sidebar {
    padding: 10px;
  }

  #body-submissions {
    border: 0;
  }

  .thumbnail.self,
  .rank {
    display: none;
  }

  .title {
    font-size: 16px;
  }

  .post {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-gap: 3px;
    margin-bottom: 10px;
  }

  .post-text {
    border: 1px dashed gray;
    border-radius: 5px;
    padding: 10px;
  }

  .comment-form textarea,
  .submit-form,
  .input-box,
  .reg-form {
    width: 100%;
  }

  .reg-form {
    padding: 10px;
  }

  #header-img.default-header {
    margin-bottom: 30px;
  }

  .user-header {
    border-radius: 0;
    width: 100%;
  }
}
